<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Coaku - {{ page.title }}</title>

    <link rel="stylesheet" href="/stylesheets/github.css">
    <script src="/javascripts/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <script src="/javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
      <div class="wrapper">
          <header>
          <h1><a href='{{page.url}}'>{{page.title}}</a></h1>
          <p><div class='date'>{{page.date | date_to_string}}</div></p>
          <p class="view"><a href="/">View back<small>coaku</small></a></p>
            <ul><li class="single"><a href="/">Look <strong>Back</strong></a></li></ul>
          </header>
          <section>{{ content }}</section>
    </div>
    
  </body>
</html>
